{
    "proxies":
    {
        "default":
        {
            "httpProxy": "http://{{ proxy_ip }}:{{ proxy_port }}",
            "httpsProxy": "http://{{ proxy_ip }}:{{ proxy_port }}"
        }
    }
}
